
# Gradle files
.gradle/
build/

# Android
.idea
.gradle
local.properties
**/build/
/*/build/

# Node
node_modules
*.log
.nvm
package-lock.json

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore